body {
    background: #fff;
}
::-webkit-scrollbar {
    display: none;
}
h1 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    margin: 10px;
}
ul {
    list-style: none;
    display: flex;
}
nav {
    border-bottom: 1px solid gray;
    padding: 10px;
}
.home ul {
    display: flex;
    justify-content: center;
}
.home ul li {
    border: solid 1px black;
    margin: 50px;
}
img {
    width: 200px;
}
